<div id='personal_info_banner' class='post'>
  <%= link_to image_tag('profile_pic.jpg', :id => 'profile_pic_banner'), '#' %>
  <%= render 'logos' %>
  <a href='#'><h2 class='post_title'>Gary Hammell</h2></a>
</div>