<div class='post'>
  <h1 class='post_title'>Fit Friends</h1>
  <a href='http://www.fit--friends.herokuapp.com'>www.fit--friends.herokuapp.com</a>
  <p class='post_info'>FitFriends keeps people motivated to exercise and stay healthy by enabling them to connect with their friends and achieve fitness goals as a community. Through the creation, completion, and sharing of challenges by its users, FitFriends transforms exercise from a personal adventure to a social one, motivating and exciting users to stay fit.
    <br><br>
  The application is heavy on the client side, utilizing JavaScript, JQuery, Ajax, and Handlebars, paired with a rails back-end that serves JSON. Our focus was to keep code clean and modular, enabling us to easily implement or remove functionality, to efficiently break up responsibilities, and to continue making adjustments and improvements into the future.
    <br><br>
  Having proposed the idea for this app, I was designated team lead. My responsibilities included managing the teams combined coding effort and ensuring we stayed on track to showcase a well built app with a tight deadline. My heaviest code contributions were in the friending and search functionalities, with additional support spread throughout the rest of the app.</p>
</div>

<div class='post'>
  <h1 class='post_title'>Dropify</h1>
  <a href='http://www.dropify.herokuapp.com'>www.dropify.herokuapp.com</a>
  <p>Dropify is a mobile-first web application that allows users to 'drop' messages and photos in their current location to be later found by others. Wander around a city and discover experiences and memories left by other Dropify users or, as an advertiser, pay to leave featured content in any location.
    <br><br>
  Dropify was created for the Salesforce.com 'Dreamforce' 48-hour Hackathon and uses Rails as a back-end API with a thick HTML5/Javascript mobile client. Google Maps was implemented for both geolocation and to provide a richer user experience, whilst Stripe was used to allow advertisers to pay for featured content.</p>
</div>

<div class='post'>
  <h1 class='post_title'>BrokeBuzz</h1>
  <a href='http://www.brokebuzz.com'>www.brokebuzz.com</a>
  <p>BrokeBuzz is a fun project that I put together to improve upon and demonstrate my rails ability. The idea behind BrokeBuzz is to enable users to search for beer, wine, or liquor, and after making a few additional inputs, determine which selection will most efficiently get them buzzed (based off the lowest price per pure ounce of alcohol). Several items I focused on including in this project were:</p>
  <ul>
    <li>use of HTTParty gem to connect with BreweryDB and Wine.com APIs for wine & beer searches</li>
    <li>rails conventions like restful routes, div_for, and form helpers</li>
    <li>before save / after save functionality in the Items model</li>
    <li>continuous integration and deployment to Heroku through circle CI</li>
    <li>randomly generated, dynamic background</li>
    <li>single page applicaton</li>
    <li>rspec testing</li>
  </ul>
</div>

<div class='post'>
  <h1 class='post_title'>Blowfish Resource Planning</h1>
  <a href='http://www.google.com'>www.google.com</a>
</div>

<div class='post'>
  <h1 class='post_title'>Test Post</h1>
  <a href='http://www.google.com'>www.google.com</a>
</div>