<div class='banner_logos'>
  <%= link_to image_tag('linkedin_logo.png', :class => 'logo'), 'https://www.linkedin.com/in/garyhammell/' %>
  <%= link_to image_tag('github_logo.png', :class => 'logo'), 'https://github.com/ghammell' %>
  <%= link_to image_tag('resume_logo.png', :class => 'logo'), 'https://drive.google.com/file/d/0B-8C1u3e9bsCRG1NdTRmeTl4U2c/view?usp=sharing' %>
  <%= mail_to 'ghammell1@gmail.com', image_tag('email_logo.png', :class => 'logo') %>
</div>