body {
  background-color: #141E34;
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: -50px;

  #skyline_image {
    position: absolute;
    bottom:0;
    left: -10px;
    z-index: 100;
  }

  #moon_image {
    position: absolute;
    height: 100px;
    bottom:100px;
    left: 100px;
  }
}