body {
  background-color: #141E34;
  margin: 0;
  font-family: helvetica;

  #nav {
    height: 100vh;
    background-color: #A1BDFF;
    box-shadow: 3px 0px 30px black;
    float: left;
    padding: 1%;
    overflow: scroll;

    #who {
      text-align: center;
      border-bottom: 1px solid #3F3F3F;

      h1 {
        font-size: 40px;
        color: #3F3F3F;
        margin: 0;
        text-shadow: 1px 1px 0px black;
      }
    }
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: -50px;

  #skyline_image {
    position: absolute;
    bottom:0;
    right: 0px;
    z-index: 100;
  }

  #moon_image {
    position: absolute;
    height: 100px;
    bottom:50px;
    right: 50px;
  }
}